.doctor-image {
    text-align: center;

    img {
        width: 100%;
        max-width: 380px;
        height: auto;

        border-radius: 6px;
        object-fit: cover;
        border: 1px solid #e5e7eb;
    }
}

.doctor-name {
    font-size: 30px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 12px;
}

.doctor-degree {
    font-size: 14px;
    color: #6b7280;
    line-height: 1.7;
    margin-bottom: 15px;
}

.doctor-designation {
    font-size: 16px;
    font-weight: 600;
    color: #374151;
    margin-bottom: 25px;
}