.achievement-section {

    .section-title {
        text-align: center;
        margin-bottom: 50px;

        .title-banner {
            display: inline-block;
            padding: 16px 40px;
            font-size: 26px;
            font-weight: 600;
            color: #fff;
            border-radius: 50px;

            background: linear-gradient(135deg, #36d1dc, #5b86e5);

            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        }
    }
}