.contact-info-wrapper {
    background: #f8fafc;
    padding: 30px;
    border-radius: 12px;

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
        color: #003366;
    }
}

.info-item {
    margin-bottom: 18px;

    strong {
        font-size: 13px;
        color: #0f172a;
    }

    p {
        font-size: 14px;
        color: #475569;
        margin: 0;
    }
}   