/* doctor name */
.footer-doctor-name {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}

.footer-title {
    color: #ffb400;
    font-weight: 500;
    margin-bottom: 5px;
}

.footer-hospital {
    opacity: 0.8;
    margin-bottom: 20px;
}

/* degrees */
.footer-degree {
    span {
        display: block;
        font-size: 13px;
        margin-bottom: 3px;
        opacity: 0.8;
    }
}

/* headings */
.footer-heading {
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}