body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

    background: linear-gradient(rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.55)),
        url('/uploads/images/welcome_page/cover.png') center/cover no-repeat;
}